.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: rgba(0,0,0,0.3);
}

h1 {
  font-weight: 200;
}

input {
  width: 300px;
  font-size: 60px;
  border: 5px solid transparent;
}

input.invalid {
  border-color: red;
}

.display-colors {
  width: 400px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.display-colors div {
  box-sizing: border-box;
  padding: 15px;
  flex: 1;
}

.display-colors div small {
  display: block;
}
